// ------------------- Base ------------------------------
// Contains common rules such as box-sizing and custom fonts

@font-face{
    font-family: "Gaegu-Bold";
    src: local("Gaegu Bold"), local("Gaegu-Bold"), url("./fonts/Gaegu-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: "Gaegu-Regular";
    src: local("Gaegu Regular"), local("Gaegu-Regular"), url("./fonts/Gaegu-Regular.ttf") format('truetype');
    font-weight: 400;
}

html{
    box-sizing: border-box;
    font-size: 18px;
    font-family: $txt-font;
    @media (max-width:750px){
        font-size: 16px;
    }
    @media (max-width: 400px){
        font-size: 14px;
    }
}