// ------------------- Base ------------------------------
// Contains common rules such as box-sizing and custom fonts

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Macondo+Swash+Caps&display=swap');

html{
    box-sizing: border-box;
    font-size: 18px;
    font-family: $txt-font;
    @media (max-width:750px){
        font-size: 16px;
    }
    @media (max-width: 400px){
        font-size: 14px;
    }
}