// ----------- Layout --------------
// Contains reusable elements such as 
// containers, headers, footers...

.page{
    width:100vw;
    background-color: $bg-primary;
    color:$txt-primary;
    margin: auto;
    height: auto;
}

h1{
    font-size: 2rem;
    font-family: $title-font;
    padding:0;
    margin: 0.5em;
}

h2{
    font-size: 1.5rem;
    font-family: $title-font;
    padding:0;
    margin: 0.3em;
}

h3{
    font-size: 1.2rem;
    font-family: $title-font;
    padding:0;
    margin:0.2em;
}

p{margin: 0.1em;}

a{
    text-decoration: none;
    color: $txt-primary;
}

.banner{
    background-color: $bg-secondary;
    height: 15vh;
    display:flex;
    justify-content: center;
    align-items: center;
    &__link{
        font-family: $title-font;
    }
}

.game{
    width:85%;
    margin-bottom:1rem;
    margin-top:1rem;
    margin-left: auto;
    margin-right:auto;
    padding-bottom:0.5rem;
    &__grid{
        display: grid;
        justify-content: center;
        align-content: center;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        &--4x4{
            grid-template-columns: 120px 120px 120px 120px;
            grid-template-rows: 120px 120px 120px 120px;
        }
        &--3x2{
            grid-template-columns: 300px 300px 300px;
            grid-template-rows: 250px 250px;
        }
    }
    &__header{
        text-align: center;
    }
    &__pres{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__icon{
        border-radius: 100%;
        border: 0.2em solid lighten($bg-secondary, 10%);
        transition:transform 300ms ease-in;
        &:hover{
            transform:scale(1.1);
        }
    }
}



