// ----------- Layout --------------
// Contains reusable elements such as 
// containers, headers, footers...

body{
    margin: 0;
    background:$bg-primary;
}

.page{
    width:100%;
    min-height: 700px;
    color:$neutral-light;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    height: auto;
    //background: radial-gradient(circle, rgba(59,118,196,1) 0%, rgba(105,141,190,1) 100%);
}

.ill_right, .ill_left{
    position: fixed;
    z-index: -1;
    top :0;
    width: 139px;
    min-height: 900px;
}

.ill_right{
    right: 0;
    background-image: url('imgs/ailesd.png');
    
}

.ill_left{
    left: 0;
    background-image: url('imgs/ailesg.png');
}

h1{
    font-size: 1.8rem;
    font-family: $title-font;
    padding:0;
    margin: 1.2em 1em 0.8em 1em;
    color: $neutral-light;
}

h2{
    font-size: 1.3rem;
    font-family: $title-font;
    padding:0;
    margin: 0.9em 0 0.7em 0;
    color: $neutral-light;
}

h3{
    font-size: 1.2rem;
    font-family: $title-font;
    padding:0;
    margin:0.6em 0 0.3em 0;
}

h4{
    font-size: 1rem;
    margin: 0.9em 0 0.5em 0;
}

p{margin: 0.3em 0;}

a{
    text-decoration: none;
    color: $neutral-light;
}

ul{
    margin: 0.3em 0 0.5em 0;
}

li{
    margin: 0.3em 0;
}

.banner{
    background-color: $neutral-light;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    @media (max-width: 865px){
        flex-direction: column;
        align-items: center;
    }
    &.banner--slide{
        position: fixed;
        top: 0;
        width: 100%;
        opacity : 0;
        z-index: 100;
        transition: opacity 0.5s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
    &__title{
        margin-top:1.5em;
        margin-bottom: 0.5em;
    }
    &__head{
        display: flex;
        position: relative;
    }
    
    &__link{
        font-family: $title-font;
        color: $col-primary;
    } 
    >.banner__menu{
        display: flex;
        align-items: center;
        margin: 1.2em 0.5em 0.8em 0.5em;
        @media (max-width: 820px){
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        .menu__link{
            color: $col-primary;
            font-size: 1.1rem;
        }
        p{
            margin: 0.3em 0.5em;
        }
    }
}


.game{
    width:75%;
    margin-bottom:1rem;
    margin-top:1rem;
    margin-left: auto;
    margin-right:auto;
    padding-bottom:0.5rem;
    position: relative;
    @media(max-width: 500px){
        width: 100%;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    &__zone{
        background-color: $neutral-light;
        color: $neutral-dark;
        width: 60%;
        border-radius: 10px;
        margin: 10px auto;
        padding: 20px;
        position: relative;
        min-height: 300px;
        @media (max-width: 1150px){
            width: 75%;
        }
        @media(max-width: 850px){
            width: 100%;
        }
    }
    &__link{
        color: $col-primary;
    }
    &__grid{
        display: grid;
        justify-content: center;
        align-content: center;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        &--memory{
            position: relative;
            grid-template-columns: 120px 120px 120px 120px;
            grid-template-rows: 120px 120px 120px 120px;
            @media (max-width:600px){
                grid-template-columns: 120px 120px;
                grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px;
            }
        
        }
        &--index{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            @media (max-width:1000px){
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }
            @media (max-width: 750px){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
    &__header{
        text-align: center;
        width: 60%;
        margin: 1.5em auto;
    }
    &__pres{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0.7em 0 0.5em 0;
    }
    &__icon{
        border-radius: 100%;
        border: 0.2em solid lighten($bg-primary, 8%);
        transition:transform 300ms ease-in;
        &:hover{
            transform:scale(1.1);
        }
    }
    &__points{
        position: absolute;
        top:10px;
        left: 930px;
        color: $neutral-dark;
        background-color: $neutral-light;
        padding: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        @media (max-width: 1430px){
            left: 830px;
        }
        @media(max-width: 1300px){
            left: 750px;
        }
        @media (max-width: 1190px){
            left: 700px;
        }
        @media (max-width: 900px){
            padding: 5px;
            border-radius: 3px;
            font-size: 1rem;
            position: static;
            width: 90px;
            text-align: center;
            margin: 0.8em auto;
        }
    }
    &__form{
        width: 90%;
        position: relative;
        @media(max-width: 400px){
            width: 100%;
        }
        &--center{
            margin: auto;
        }
    
    }
    &__centered{
        padding-left: 15px;
    }
}

.form__txtarea{
    font-family: $txt-font;
    font-size: 0.8rem;
    color: $neutral-dark;
}

.central{
    text-align:center;
    padding-bottom : 1rem;
    @media(max-width: 500px){
        text-align: left;
    }
    &.central--mid{
        width: 70%;
        margin: auto;
        @media(max-width: 500px){
            margin: 0;
        }
    }
}




