// --------------- Pages -----------------
// Contains components specific to a page

/*La chambre de Matisse */  

.game{
    &__dnd{
        margin: 0.4rem auto;
        position: relative;
        width:894px;
        height:731px;
        background: url("imgs/matisse.jpg") no-repeat center;
        @media (max-width: 1050px){
            background: url("imgs/matisse_med.jpg") no-repeat center;
            width: 500px;
            height: 409px;
        }
        @media (max-width: 500px){
            background: url("imgs/matisse_sm.jpg") no-repeat center;
            width : 350px;
            height: 286px;
        }
    }
}

.dnd{
    &__elt{
        position:absolute;
        z-index:2;
        &:hover{
            cursor: pointer;
        }
        @include set_drag_elt($drag-elts, $drag-zones);
        @media (max-width: 1050px){
          @include set_drag_elt($drag-elts-med, $drag-zones-med);
        }
        @media (max-width: 500px){
            @include set_drag_elt($drag-elts-sm, $drag-zones-sm);
        }
    }
    &__zone{
        position:absolute;
        @include set_drag_zone($drag-zones);
        @media (max-width: 1050px){
            @include set_drag_zone($drag-zones-med);
        }
        @media (max-width: 500px){
            @include set_drag_zone($drag-zones-sm);
        }
    }
}



