// --------------- Pages -----------------
// Contains components specific to a page

/*L'atelier de Matisse */  

.game{
    &__dnd{
        margin: 0.4rem auto;
        position: relative;
        @include img_bg(894px, 731px, "imgs/matisse.jpg");
        @media (max-width: 1050px){
            @include img_bg(500px, 409px, "imgs/matisse_med.jpg");
        }
        @media (max-width: 500px){
            @include img_bg(350px, 286px, "imgs/matisse_sm.jpg");
        }
    }
}

.dnd{
    &__elt{
        position:absolute;
        z-index:2;
        &:hover{
            cursor: pointer;
        }
        @include set_drag_elt($drag-elts, $drag-zones);
        @media (max-width: 1050px){
          @include set_drag_elt($drag-elts-med, $drag-zones-med);
        }
        @media (max-width: 500px){
            @include set_drag_elt($drag-elts-sm, $drag-zones-sm);
        }
    }
    &__zone{
        position:absolute;
        @include set_drag_zone($drag-zones);
        @media (max-width: 1050px){
            @include set_drag_zone($drag-zones-med);
        }
        @media (max-width: 500px){
            @include set_drag_zone($drag-zones-sm);
        }
    }
}



