// ---------Variables & Mixins ---------- 

// General
$title-font:'Macondo Swash Caps', cursive;
$txt-font: 'Josefin Sans', sans-serif;

$bg-primary:#3273f1;
$neutral-light: #ffffff;
$neutral-dark: #383a3d;
$col-primary: #ffeb0f;
$col-secondary: #ac004a;

// Matisse
$drag-elts: (
    cruche: (left:160px, top:562px, background-image: url("imgs/cruche.png"), background-repeat: no-repeat, background-position: center, width: 46px, height: 50px), 
    dessin: (left:418px, top:591px, background-image: url("imgs/dessin.png"), background-repeat: no-repeat, background-position: center, width: 68px, height: 89px), 
    statuette: (left:520px, top:538px, background-image: url("imgs/statuette.png"), background-repeat: no-repeat, background-position: center, width: 89px, height: 146px)
    );

$drag-zones: (statuette: (left:54px, top:159px, width:75px, height:137px), dessin: (left:175px, top:162px, width:75px, height:105px), cruche:(left:456px, top:395px, width:51px, height:61px));

$drag-elts-med: (cruche:(left: 100px, top: 315px, background-image: url("imgs/cruche_med.png"), background-repeat: no-repeat, background-position: center, width: 26px, height: 28px), 
    dessin:(left: 235px, top: 330px, background-image: url("imgs/dessin_med.png"), background-repeat: no-repeat, background-position: center, width: 38px, height: 50px), 
    statuette:(left: 300px, top: 300px, background-image: url("imgs/statuette_med.png"), background-repeat: no-repeat, background-position: center, width: 50px, height: 82px)
    );

$drag-zones-med:(cruche:(left: 254px, top: 228px, width: 23px, height: 25px), dessin: (left: 102px, top: 94px, width: 39px, height: 48px), statuette:(left: 28px, top: 89px, width: 46px, height: 79px));

$drag-elts-sm: (cruche: (left: 70px, top: 225px, background-image: url("imgs/cruche_sm.png"), background-repeat: no-repeat, background-position: center, width: 18px, height: 20px),
    dessin:(left: 165px, top: 220px, background-image: url("imgs/dessin_sm.png"), background-repeat: no-repeat, background-position: center, width: 27px, height: 35px),
    statuette: (left: 205px, top: 210px, background-image: url("imgs/statuette_sm.png"), background-repeat: no-repeat, background-position: center, width: 35px, height: 57px)
    );

$drag-zones-sm: (cruche:(left: 179px, top: 158px, width: 15px, height: 28px), dessin:(left: 72px, top: 63px, width: 25px, height: 36px), statuette:(left: 19px, top: 61px, width: 30px, height: 55px));

//Cache-cache
$cache: (top:510px, left: 552px, width: 12px, height: 16px);
$cache_med: (top:344px, left: 372px, width: 10px, height: 10px);
$cache_sm: (top: 229px, left: 248px, width: 5px, height: 8px);
$cache_tiny: (top: 422px, left: 306px, width: 11px, height: 12px);

// Mixins
@mixin pos_from_map($map){
    left: map-get($map, left);
    top: map-get($map, top);
}

@mixin size_from_map($map){
    width: map-get($map, width);
    height: map-get($map, height);
}

@mixin bg_from_map($map){
    background-image: map-get($map, background-image);
    background-repeat: map-get($map, background-repeat);
    background-position: map-get($map, background-position);
}

@mixin set_drag_elt($elt-data, $zone-data){
    @each $elt, $map in $elt-data{
        &.elt__#{$elt}{
            @include pos_from_map($map);
            @include size_from_map($map);
            @include bg_from_map($map);
            &.elt__found{
              @include pos_from_map(map-get($zone-data, $elt));
            }
        }
    }
}

@mixin set_drag_zone($zone-data){
    @each $elt, $map in $zone-data{
        &.zone__#{$elt}{
            @include pos_from_map($map);
            @include size_from_map($map);
        }
    }
}

@mixin center_above(){
    z-index: 10;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin img_bg($w, $h, $img){
    width:$w;
    height:$h;
    background: url($img) no-repeat center;
}

