// ---------Variables ---------- 

$title-font: 'Gaegu-Bold', cursive;
$txt-font:'Gaegu-Regular', cursive;

$bg-primary: #1abba3;
$bg-secondary: #1d7669;
$txt-primary: #ffde02;
$txt-secondary: #97ff02;
$cta: #d84700;



