// ---------Variables ---------- 

$title-font: 'Gaegu-Bold', cursive;
$txt-font:'Gaegu-Regular', cursive;

$bg-primary: #1abba3;
$bg-secondary: #1d7669;
$txt-primary: #ffde02;
$txt-secondary: #97ff02;
$cta: #d84700;

$drag-elts: (cruche: (left:160px, top:562px), dessin: (left:418px, top:591px), statuette:(left:520px, top:538px));
$drag-zones: (statuette: (left:54px, top:159px, width:75px, height:137px), dessin: (left:171px, top:152px, width:75px, height:105px), cruche:(left:456px, top:391px, width:51px, height:61px));



