#Ignore info and test files
docs/fiche_projet.txt
public/imgs/compositions/*
public/imgs/transparents/*
moodboard/*
node_modules/*
package-lock.json
package.json
_previous/*
_discarded/*
_tmp/*
sass_compile_cmd.txt