@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Macondo+Swash+Caps&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 750px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  background: #3273f1;
}

.page {
  width: 100%;
  min-height: 700px;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 1.2rem;
  height: auto;
}

.ill_right, .ill_left {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 139px;
  min-height: 900px;
}

.ill_right {
  right: 0;
  background-image: url("../imgs/ailesd.png");
}

.ill_left {
  left: 0;
  background-image: url("../imgs/ailesg.png");
}

h1 {
  font-size: 1.8rem;
  font-family: "Macondo Swash Caps", cursive;
  padding: 0;
  margin: 1.2em 1em 0.8em 1em;
  color: #ffffff;
}

h2 {
  font-size: 1.3rem;
  font-family: "Macondo Swash Caps", cursive;
  padding: 0;
  margin: 0.9em 0 0.7em 0;
  color: #ffffff;
}

h3 {
  font-size: 1.2rem;
  font-family: "Macondo Swash Caps", cursive;
  padding: 0;
  margin: 0.6em 0 0.3em 0;
}

h4 {
  font-size: 1rem;
  margin: 0.9em 0 0.5em 0;
}

p {
  margin: 0.3em 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0.3em 0 0.5em 0;
}

li {
  margin: 0.3em 0;
}

.banner {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 865px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
}
.banner.banner--slide.no__touch {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.5s ease-in-out;
}
.banner.banner--slide.no__touch:hover {
  opacity: 1;
}
.banner__title {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.banner__head {
  display: flex;
  position: relative;
}
.banner__link {
  font-family: "Macondo Swash Caps", cursive;
  color: #ffeb0f;
}
.banner > .banner__menu {
  display: flex;
  align-items: center;
  margin: 1.2em 0.5em 0.8em 0.5em;
}
@media (max-width: 820px) {
  .banner > .banner__menu {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}
.banner > .banner__menu .menu__link {
  color: #ffeb0f;
  font-size: 1.1rem;
}
.banner > .banner__menu p {
  margin: 0.3em 0.5em;
}

.game {
  width: 75%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
  position: relative;
}
@media (max-width: 500px) {
  .game {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
.game__zone {
  background-color: #ffffff;
  color: #383a3d;
  width: 60%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  min-height: 300px;
}
@media (max-width: 1150px) {
  .game__zone {
    width: 75%;
  }
}
@media (max-width: 850px) {
  .game__zone {
    width: 100%;
  }
}
.game__link {
  color: #ffeb0f;
}
.game__grid {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.game__grid--memory {
  position: relative;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px;
}
@media (max-width: 600px) {
  .game__grid--memory {
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px;
  }
}
.game__grid--index {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 1000px) {
  .game__grid--index {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 750px) {
  .game__grid--index {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.game__header {
  text-align: center;
  width: 60%;
  margin: 1.5em auto;
}
.game__pres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.7em 0 0.5em 0;
}
.game__icon {
  border-radius: 100%;
  border: 0.2em solid #588df4;
  transition: transform 300ms ease-in;
}
.game__icon:hover {
  transform: scale(1.1);
}
.game__points {
  position: absolute;
  top: 10px;
  left: 930px;
  color: #383a3d;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}
@media (max-width: 1430px) {
  .game__points {
    left: 830px;
  }
}
@media (max-width: 1300px) {
  .game__points {
    left: 750px;
  }
}
@media (max-width: 1190px) {
  .game__points {
    left: 700px;
  }
}
@media (max-width: 900px) {
  .game__points {
    padding: 5px;
    border-radius: 3px;
    font-size: 1rem;
    position: static;
    width: 90px;
    text-align: center;
    margin: 0.8em auto;
  }
}
.game__form {
  width: 90%;
  position: relative;
}
@media (max-width: 400px) {
  .game__form {
    width: 100%;
  }
}
.game__form--center {
  margin: auto;
}
.game__centered {
  padding-left: 15px;
}

.form__txtarea {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
  color: #383a3d;
}

.central {
  text-align: center;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  .central {
    text-align: left;
  }
}
.central.central--mid {
  width: 70%;
  margin: auto;
}
@media (max-width: 500px) {
  .central.central--mid {
    margin: 0;
  }
}

.card {
  transition: opacity 300ms cubic-bezier(0.04, 1.01, 0.76, 0.53);
}
.card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 600px) {
  .timer {
    flex-direction: column;
  }
}
.timer__progress-bar {
  height: 12px;
  width: 300px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid #383a3d;
  margin-left: 10px;
  margin-top: 5px;
}
@media (max-width: 400px) {
  .timer__progress-bar {
    width: 260px;
    margin-left: 5px;
  }
}
.timer__progress-bar--fill {
  background-color: #ac004a;
  height: 12px;
  width: 300px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 50s linear;
}
@media (max-width: 400px) {
  .timer__progress-bar--fill {
    width: 260px;
  }
}
.timer__progress-bar--fill-mini {
  transition: transform 25s linear;
}

.btn {
  font-size: 1.1rem;
  font-family: "Macondo Swash Caps", cursive;
  background-color: #3273f1;
  color: #ffeb0f;
  border-radius: 5px;
  padding: 0.3em;
  text-align: center;
}
.btn--animated {
  transition: transform 200ms ease-in-out;
}
.btn--animated:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.btn__restart--center {
  width: 75px;
  margin: auto;
}
.btn__submit {
  width: 85px;
  margin: 10px;
}
.btn__submit--center {
  display: block;
  margin: 5px auto;
}
.btn__time {
  color: #ffffff;
  background-color: #ac004a;
}

.popup-msg {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #ffeb0f;
  font-family: "Macondo Swash Caps", cursive;
  background-color: rgba(59, 118, 196, 0.85);
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
}
@media (max-width: 1050px) {
  .popup-msg {
    font-size: 1.5rem;
  }
}

.quote {
  font-size: 0.8rem;
  font-style: italic;
}

.logo {
  width: 46px;
  height: 50px;
  position: relative;
  left: -47px;
  top: 12px;
  transition: transform 0.4s ease-in-out;
  transform-origin: bottom;
}
.logo:hover {
  transform: skew(10deg, -10deg) translate(-10%);
}
@media (max-width: 750px) {
  .logo {
    left: -43px;
  }
}
@media (max-width: 400px) {
  .logo {
    left: -38px;
    top: 6px;
  }
}

.loader {
  width: 150%;
  height: 150%;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 200;
  top: -20%;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader__icon {
  border: 12px solid rgba(172, 0, 74, 0.5);
  border-top: 12px solid #ac004a;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 300;
}
@media (max-width: 500px) {
  .loader__icon {
    left: 20%;
  }
}

.game__dnd {
  margin: 0.4rem auto;
  position: relative;
  width: 894px;
  height: 731px;
  background: url("../imgs/matisse.jpg") no-repeat center;
}
@media (max-width: 1100px) {
  .game__dnd {
    width: 500px;
    height: 409px;
    background: url("../imgs/matisse_med.jpg") no-repeat center;
  }
}
@media (max-width: 650px) {
  .game__dnd {
    width: 350px;
    height: 286px;
    background: url("../imgs/matisse_sm.jpg") no-repeat center;
  }
}
.game__zone--matisse {
  width: 910px;
}
@media (max-width: 1100px) {
  .game__zone--matisse {
    width: 515px;
  }
}
@media (max-width: 650px) {
  .game__zone--matisse {
    width: 360px;
  }
}

.dnd__elt {
  position: absolute;
  z-index: 2;
}
.dnd__elt:hover {
  cursor: pointer;
}
.dnd__elt.elt__cruche {
  left: 160px;
  top: 562px;
  width: 46px;
  height: 50px;
  background-image: url("../imgs/cruche.png");
  background-repeat: no-repeat;
  background-position: center;
}
.dnd__elt.elt__cruche.elt__found {
  left: 456px;
  top: 395px;
}
.dnd__elt.elt__dessin {
  left: 418px;
  top: 591px;
  width: 68px;
  height: 89px;
  background-image: url("../imgs/dessin.png");
  background-repeat: no-repeat;
  background-position: center;
}
.dnd__elt.elt__dessin.elt__found {
  left: 175px;
  top: 162px;
}
.dnd__elt.elt__statuette {
  left: 520px;
  top: 538px;
  width: 89px;
  height: 146px;
  background-image: url("../imgs/statuette.png");
  background-repeat: no-repeat;
  background-position: center;
}
.dnd__elt.elt__statuette.elt__found {
  left: 54px;
  top: 159px;
}
@media (max-width: 1100px) {
  .dnd__elt.elt__cruche {
    left: 100px;
    top: 315px;
    width: 26px;
    height: 28px;
    background-image: url("../imgs/cruche_med.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .dnd__elt.elt__cruche.elt__found {
    left: 254px;
    top: 228px;
  }
  .dnd__elt.elt__dessin {
    left: 235px;
    top: 330px;
    width: 38px;
    height: 50px;
    background-image: url("../imgs/dessin_med.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  .dnd__elt.elt__dessin.elt__found {
    left: 102px;
    top: 94px;
  }
  .dnd__elt.elt__statuette {
    left: 300px;
    top: 300px;
    width: 50px;
    height: 82px;
    background-image: url("../imgs/statuette_med.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  .dnd__elt.elt__statuette.elt__found {
    left: 28px;
    top: 89px;
  }
}
@media (max-width: 650px) {
  .dnd__elt.elt__cruche {
    left: 70px;
    top: 225px;
    width: 18px;
    height: 20px;
    background-image: url("../imgs/cruche_sm.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .dnd__elt.elt__cruche.elt__found {
    left: 179px;
    top: 158px;
  }
  .dnd__elt.elt__dessin {
    left: 165px;
    top: 220px;
    width: 27px;
    height: 35px;
    background-image: url("../imgs/dessin_sm.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  .dnd__elt.elt__dessin.elt__found {
    left: 72px;
    top: 63px;
  }
  .dnd__elt.elt__statuette {
    left: 205px;
    top: 210px;
    width: 35px;
    height: 57px;
    background-image: url("../imgs/statuette_sm.gif");
    background-repeat: no-repeat;
    background-position: center;
  }
  .dnd__elt.elt__statuette.elt__found {
    left: 19px;
    top: 61px;
  }
}
.dnd__zone {
  position: absolute;
}
.dnd__zone.zone__statuette {
  left: 54px;
  top: 159px;
  width: 75px;
  height: 137px;
}
.dnd__zone.zone__dessin {
  left: 175px;
  top: 162px;
  width: 75px;
  height: 105px;
}
.dnd__zone.zone__cruche {
  left: 456px;
  top: 395px;
  width: 51px;
  height: 61px;
}
@media (max-width: 1100px) {
  .dnd__zone.zone__cruche {
    left: 254px;
    top: 228px;
    width: 23px;
    height: 25px;
  }
  .dnd__zone.zone__dessin {
    left: 102px;
    top: 94px;
    width: 39px;
    height: 48px;
  }
  .dnd__zone.zone__statuette {
    left: 28px;
    top: 89px;
    width: 46px;
    height: 79px;
  }
}
@media (max-width: 650px) {
  .dnd__zone.zone__cruche {
    left: 179px;
    top: 158px;
    width: 15px;
    height: 28px;
  }
  .dnd__zone.zone__dessin {
    left: 72px;
    top: 63px;
    width: 25px;
    height: 36px;
  }
  .dnd__zone.zone__statuette {
    left: 19px;
    top: 61px;
    width: 30px;
    height: 55px;
  }
}

.game__illustration--btm-right {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.game__clic {
  position: relative;
  margin: 0.4rem auto;
  width: 890px;
  height: 580px;
  background: url("../imgs/eden.jpg") no-repeat center;
}
@media (max-width: 1150px) {
  .game__clic {
    width: 600px;
    height: 391px;
    background: url("../imgs/eden_med.jpg") no-repeat center;
  }
}
@media (max-width: 790px) {
  .game__clic {
    width: 400px;
    height: 261px;
    background: url("../imgs/eden_sm.jpg") no-repeat center;
  }
}
@media (max-width: 550px) {
  .game__clic {
    width: 350px;
    height: 479px;
    background: url("../imgs/eden_tiny.jpg") no-repeat center;
  }
}
.game__zone--cc {
  width: 910px;
}
@media (max-width: 1150px) {
  .game__zone--cc {
    width: 615px;
  }
}
@media (max-width: 790px) {
  .game__zone--cc {
    width: 410px;
  }
}
@media (max-width: 550px) {
  .game__zone--cc {
    width: 360px;
  }
}

.clic__zone {
  position: absolute;
  z-index: 1;
  left: 552px;
  top: 510px;
  width: 12px;
  height: 16px;
}
@media (max-width: 1150px) {
  .clic__zone {
    left: 372px;
    top: 344px;
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 790px) {
  .clic__zone {
    left: 248px;
    top: 229px;
    width: 5px;
    height: 8px;
  }
}
@media (max-width: 550px) {
  .clic__zone {
    left: 306px;
    top: 422px;
    width: 11px;
    height: 12px;
  }
}

.game__illustration--center-right {
  position: absolute;
  right: 30px;
  bottom: 120px;
}

/*# sourceMappingURL=style.css.map */
